<!DOCTYPE html>
<html lang="pt-BR">

<%- include('head', {title: 'Cadastro'}); %>

    <body>
        <main class="container">
            <h2>Cadastro</h2>
            <form class="ui form" id="form-cadastro">
                <% campos.forEach(campo => {
                const { nome, id, type } = campo;
                %>
                    <div class="field">
                        <label for="<%= id %>"><%= nome %></label>
                        <input type="<%= type %>" name="<%= id %>" id="<%= id %>" placeholder="<%= nome %>">
                    </div>
                    <% }
            ) %>
                        <button type="submit" class="ui button" disabled>
                <i class="save icon"></i> Salvar
                </button>
            </form>
        </main>
        <%- include('scripts'); %>
    </body>

</html>